db.sqlite3
list_experiment.otreezip
.git/objects/56/fed4f3b1e3f31dca323e7a738a0229e298a821
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.db
*.sqlite3
.DS_Store
.env
*.log
