<!--Delete?-->
<!--{% extends "global/Page.html" %}-->

<!--{% block content %}-->
<!--    <div class="post-container">-->
<!--        {% if screenshot_url %}-->
<!--            <img src="{{ screenshot_url }}" alt="Post Image" class="post-image">-->
<!--        {% endif %}-->
<!--        <div class="post-text">{{ post_text|safe }}</div>-->
<!--    </div>-->

<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    </form>-->

<!--    <div class="post-navigation">-->
<!--        Post {{ post_index + 1 }} of {{ total_posts }}-->
<!--    </div>-->
<!--{% endblock %}-->
