{{if i.watermark == "fb_content_warning" }}

    <!-- ================================================ FB CONTENT WARNING ================================================ -->
    <tr id="{{i.doc_id}}"
    {% if i.sponsored %}
        style="background-color: #E5E4E2;"
    {% endif %}
    onmouseover="sequence('i' + {{i.doc_id}});" 
    ontouchstart="sequence('i' + {{i.doc_id}});">      
        <td>
        <div class="row justify-content-start">
            <div class="col-2">
                {{ if i.profile_pic_available == True}}
                    <img src="{{i.user_image}}" class="card-img p1 ms-3 poster img-fit" alt="Profile picture of {{i.username}}."
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-html="true"
                        data-bs-custom-class="custom-tooltip"
                        title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                                @{{i.handle}}<br><br>
                                {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                {{ else }}
                    <div class="poster p1 ms-3"
                        data-user-id="{{i.username}}"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-html="true"
                        data-bs-custom-class="custom-tooltip"
                        title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                                @{{i.handle}}<br><br>
                                {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                        <h4>{{i.icon}}</h4>
                    </div>
                {{ endif }}
            </div>
            <div class="col-9 me-0">
                <div class="card-body" id="tweet_{{i.doc_id}}">
                    <h5 class="card-title"></h5>
                    <h6 class="card-subtitle mb-2 mt-3">
                        <a style="cursor: pointer;"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-html="true"
                        data-bs-custom-class="custom-tooltip"
                        title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                        @{{i.handle}}<br><br>
                        {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                            {{i.handle}}
                        </a>
                        <small class="text-muted">
                            {{i.username}} &middot; 
                            {% if i.sponsored %}
                                Sponsored
                            {% else %}
                                {{i.date}}
                            {% endif %}
                        </small>
                    </h6>
                    {% if i.sponsored %}
                        <a href="{{ i.target }}" target="_blank" style="text-decoration: none; color: black;"
                        <p class="tweet-text" id="tweet_{{i.doc_id}}">{{i.tweet}}</p>
                        </a>
                        {% else %}
                        <p class="tweet-text" id="tweet_{{i.doc_id}}">{{i.tweet}}</p>
                        {% endif %}


                </div>

                {{ if i.pic_available == True }}
                    <a href="{{i.target}}" target="_blank" style="text-decoration: none; cursor: pointer;">
                        <div class="image-container">
                            <img src="{{i.media}}" class="card-img ps-0 mt-2 rounded-4 img-fluid img-tweet" alt="...">
                        </div>
                    </a>
                    <div class="warning-label d-flex align-items-center mt-2">
                        <!-- Inline SVG for yellow caution icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="yellow" viewBox="0 0 24 24" class="me-2">
                            <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="yellow"></circle>
                            <text x="12" y="16" font-size="12" font-weight="bold" text-anchor="middle" fill="black">!</text>
                        </svg>
                        <span>Stay informed. Manipulated media. <a href="https://transparency.meta.com/es-la/policies/community-standards/misinformation" target="_blank">Find out more.</a></span>
                    </div>
                {{ endif }}
                <div class="d-flex border-top-0 mt-3 ms-5">
                    <div class="reply-button col" data-bs-toggle="modal" data-bs-target="#replyModal_{{i.doc_id}}" id="reply_button_{{i.doc_id}}">
                        <span class="bi bi-chat text-secondary reply-icon" id="reply_icon_{{i.doc_id}}" style="cursor: pointer">️</span>
                        <span class="reply-count text-secondary" id="reply_count_{{i.doc_id}}">{{i.replies}}</span>
                    </div>
                    <div class="retweet-button col">
                        <span class="bi bi-arrow-repeat text-secondary retweet-icon" style="cursor: pointer">️</span>
                        <span class="retweet-count text-secondary">{{i.retweets}}</span>
                    </div>
                    <div class="like-button col" id="like_button_{{i.doc_id}}">
                        <span class="bi bi-heart text-secondary like-icon" style="cursor: pointer">️</span>
                        <span class="like-count text-secondary">{{i.likes}}</span>
                        {{ if i.sponsored }}
                            <input class="like-field" type="hidden" name="liked_item_{{i.doc_id}}" id="liked_item_{{i.doc_id}}">
                        {{ endif }}
                    </div>
                    <div class="share-button col">
                        <span class="bi bi-upload text-secondary share-icon" style="cursor: pointer">️</span>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>

{{elif i.watermark == "insta_content_warning" }}


    <!-- ================================================ INSTA CONTENT WARNING ================================================ -->
    <tr id="{{i.doc_id}}"
    {% if i.sponsored %}
        style="background-color: #E5E4E2;"
    {% endif %}
    onmouseover="sequence('i' + {{i.doc_id}});" 
    ontouchstart="sequence('i' + {{i.doc_id}});">      
        <td>
        <div class="row justify-content-start">
            <div class="col-2">
                {{ if i.profile_pic_available == True}}
                    <img src="{{i.user_image}}" class="card-img p1 ms-3 poster img-fit" alt="Profile picture of {{i.username}}."
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-html="true"
                        data-bs-custom-class="custom-tooltip"
                        title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                                @{{i.handle}}<br><br>
                                {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                {{ else }}
                    <div class="poster p1 ms-3"
                        data-user-id="{{i.username}}"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-html="true"
                        data-bs-custom-class="custom-tooltip"
                        title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                                @{{i.handle}}<br><br>
                                {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                        <h4>{{i.icon}}</h4>
                    </div>
                {{ endif }}
            </div>
            <div class="col-9 me-0">
                <div class="card-body" id="tweet_{{i.doc_id}}">
                    <h5 class="card-title"></h5>
                    <h6 class="card-subtitle mb-2 mt-3">
                        <a style="cursor: pointer;"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-html="true"
                        data-bs-custom-class="custom-tooltip"
                        title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                        @{{i.handle}}<br><br>
                        {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                            {{i.handle}}
                        </a>
                        <small class="text-muted">
                            {{i.username}} &middot; 
                            {% if i.sponsored %}
                                Sponsored
                            {% else %}
                                {{i.date}}
                            {% endif %}
                        </small>
                    </h6>
                    {% if i.sponsored %}
                        <a href="{{ i.target }}" target="_blank" style="text-decoration: none; color: black;"
                        <p class="tweet-text" id="tweet_{{i.doc_id}}">{{i.tweet}}</p>
                        </a>
                        {% else %}
                        <p class="tweet-text" id="tweet_{{i.doc_id}}">{{i.tweet}}</p>
                        {% endif %}

                </div>

                {{ if i.pic_available == True }}
                <div class="watermark-container" tabindex="0" style="position: relative;">
                    <img src="{{ i.media }}" class="card-img ps-0 mt-2 rounded-4 img-fluid img-tweet" alt="...">
                    <!-- Semi-transparent overlay -->
                    <div class="overlay">
                        <h3>Manipulated Content.</h3>
                        <p>This photo may contain manipulated media.</p>
                        <p>Click To See Photo</p> <!-- Focusable div for accessibility -->
                    </div>
                </div>
                <a href="{{ i.target }}" class="link-disabled" target="_blank" style="text-decoration: none; cursor: pointer;">
                </a>
                {{ endif }}

                <div class="d-flex border-top-0 mt-3 ms-5">
                    <div class="reply-button col" data-bs-toggle="modal" data-bs-target="#replyModal_{{i.doc_id}}" id="reply_button_{{i.doc_id}}">
                        <span class="bi bi-chat text-secondary reply-icon" id="reply_icon_{{i.doc_id}}" style="cursor: pointer">️</span>
                        <span class="reply-count text-secondary" id="reply_count_{{i.doc_id}}">{{i.replies}}</span>
                    </div>
                    <div class="retweet-button col">
                        <span class="bi bi-arrow-repeat text-secondary retweet-icon" style="cursor: pointer">️</span>
                        <span class="retweet-count text-secondary">{{i.retweets}}</span>
                    </div>
                    <div class="like-button col" id="like_button_{{i.doc_id}}">
                        <span class="bi bi-heart text-secondary like-icon" style="cursor: pointer">️</span>
                        <span class="like-count text-secondary">{{i.likes}}</span>
                        {{ if i.sponsored }}
                            <input class="like-field" type="hidden" name="liked_item_{{i.doc_id}}" id="liked_item_{{i.doc_id}}">
                        {{ endif }}
                    </div>
                    <div class="share-button col">
                        <span class="bi bi-upload text-secondary share-icon" style="cursor: pointer">️</span>
                    </div>
                </div>
            </div>
        </div>
        </td>
    </tr>


{{elif i.watermark == "cr_watermark" }}

    <!-- ================================================ CR WATERMARK ================================================ -->
    <tr id="{{i.doc_id}}"
    {% if i.sponsored %}
        style="background-color: #E5E4E2;"
    {% endif %}
    onmouseover="sequence('i' + {{i.doc_id}});" 
    ontouchstart="sequence('i' + {{i.doc_id}});">      
        <td>
        <div class="row justify-content-start">
            <div class="col-2">
                {{ if i.profile_pic_available == True}}
                    <img src="{{i.user_image}}" class="card-img p1 ms-3 poster img-fit" alt="Profile picture of {{i.username}}."
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-html="true"
                        data-bs-custom-class="custom-tooltip"
                        title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                                @{{i.handle}}<br><br>
                                {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                {{ else }}
                    <div class="poster p1 ms-3"
                        data-user-id="{{i.username}}"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-html="true"
                        data-bs-custom-class="custom-tooltip"
                        title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                                @{{i.handle}}<br><br>
                                {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                        <h4>{{i.icon}}</h4>
                    </div>
                {{ endif }}
            </div>
            <div class="col-9 me-0">
                <div class="card-body" id="tweet_{{i.doc_id}}">
                    <h5 class="card-title"></h5>
                    <h6 class="card-subtitle mb-2 mt-3">
                        <a style="cursor: pointer;"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-html="true"
                        data-bs-custom-class="custom-tooltip"
                        title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                        @{{i.handle}}<br><br>
                        {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                            {{i.handle}}
                        </a>
                        <small class="text-muted">
                            {{i.username}} &middot; 
                            {% if i.sponsored %}
                                Sponsored
                            {% else %}
                                {{i.date}}
                            {% endif %}
                        </small>
                    </h6>

                    {% if i.sponsored %}
                        <a href="{{ i.target }}" target="_blank" style="text-decoration: none; color: black;"
                        <p class="tweet-text" id="tweet_{{i.doc_id}}">{{i.tweet}}</p>
                        </a>
                        {% else %}
                        <p class="tweet-text" id="tweet_{{i.doc_id}}">{{i.tweet}}</p>
                        {% endif %}

                </div>

                {{ if i.pic_available == True}}
                        <a href="{{i.target}}" target="_blank" style="text-decoration: none; cursor: pointer;">
                            <div class="watermark-container">
                                <img src="{{i.media}}" class="card-img ps-0 mt-2 rounded-4 img-fluid img-tweet" alt="...">
                                <div class="watermark" data-bs-toggle="tooltip" data-bs-placement="top" title="This image combines multiple pieces of content. At least one was generated with an AI tool.">
                                    CR
                                </div>
                            </div>
                        </a>
                {{ endif }}
                <div class="d-flex border-top-0 mt-3 ms-5">
                    <div class="reply-button col" data-bs-toggle="modal" data-bs-target="#replyModal_{{i.doc_id}}" id="reply_button_{{i.doc_id}}">
                        <span class="bi bi-chat text-secondary reply-icon" id="reply_icon_{{i.doc_id}}" style="cursor: pointer">️</span>
                        <span class="reply-count text-secondary" id="reply_count_{{i.doc_id}}">{{i.replies}}</span>
                    </div>
                    <div class="retweet-button col">
                        <span class="bi bi-arrow-repeat text-secondary retweet-icon" style="cursor: pointer">️</span>
                        <span class="retweet-count text-secondary">{{i.retweets}}</span>
                    </div>
                    <div class="like-button col" id="like_button_{{i.doc_id}}">
                        <span class="bi bi-heart text-secondary like-icon" style="cursor: pointer">️</span>
                        <span class="like-count text-secondary">{{i.likes}}</span>
                        {{ if i.sponsored }}
                            <input class="like-field" type="hidden" name="liked_item_{{i.doc_id}}" id="liked_item_{{i.doc_id}}">
                        {{ endif }}
                    </div>
                    <div class="share-button col">
                        <span class="bi bi-upload text-secondary share-icon" style="cursor: pointer">️</span>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>

{{elif i.watermark == "cr_watermark_plus_label" }}
    
        <!-- ================================================ CR WATERMARK PLUS LABEL ================================================ -->
        <tr id="{{i.doc_id}}"
        {% if i.sponsored %}
            style="background-color: #E5E4E2;"
        {% endif %}
        onmouseover="sequence('i' + {{i.doc_id}});" 
        ontouchstart="sequence('i' + {{i.doc_id}});">      
            <td>
            <div class="row justify-content-start">
                <div class="col-2">
                    {{ if i.profile_pic_available == True}}
                        <img src="{{i.user_image}}" class="card-img p1 ms-3 poster img-fit" alt="Profile picture of {{i.username}}."
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-html="true"
                            data-bs-custom-class="custom-tooltip"
                            title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                                    @{{i.handle}}<br><br>
                                    {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                    {{ else }}
                        <div class="poster p1 ms-3"
                            data-user-id="{{i.username}}"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-html="true"
                            data-bs-custom-class="custom-tooltip"
                            title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                                    @{{i.handle}}<br><br>
                                    {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                            <h4>{{i.icon}}</h4>
                        </div>
                    {{ endif }}
                </div>
                <div class="col-9 me-0">
                    <div class="card-body" id="tweet_{{i.doc_id}}">
                        <h5 class="card-title"></h5>
                        <h6 class="card-subtitle mb-2 mt-3">
                            <a style="cursor: pointer;"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-html="true"
                            data-bs-custom-class="custom-tooltip"
                            title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                            @{{i.handle}}<br><br>
                            {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                                {{i.handle}}
                            </a>
                            <small class="text-muted">
                                {{i.username}} &middot; 
                                {% if i.sponsored %}
                                    Sponsored
                                {% else %}
                                    {{i.date}}
                                {% endif %}
                            </small>
                        </h6>

                        {% if i.sponsored %}
                    <a href="{{ i.target }}" target="_blank" style="text-decoration: none; color: black;"
                    <p class="tweet-text" id="tweet_{{i.doc_id}}">{{i.tweet}}</p>
                    </a>
                    {% else %}
                    <p class="tweet-text" id="tweet_{{i.doc_id}}">{{i.tweet}}</p>
                    {% endif %}

                    </div>

                    {{ if i.pic_available == True }}
                        <a href="{{i.target}}" target="_blank" style="text-decoration: none; cursor: pointer;">
                            <div class="watermark-container">
                                <img src="{{i.media}}" class="card-img ps-0 mt-2 rounded-4 img-fluid img-tweet" alt="...">
                                <!-- Link to the warning label below -->
                                <!-- Hidden checkbox for toggling the display of the warning label -->
                            <input type="checkbox" id="option3-toggle" class="option3-checkbox">
                            
                            <!-- Label styled as the "CR" watermark -->
                            <label for="option3-toggle" class="watermark"
       data-bs-toggle="tooltip"
       data-bs-placement="top"
       data-bs-html="true"
       title="This image combines multiple pieces of content. At least one was generated with an AI tool.">
    CR
</label>

                            </div>
                        </a>
                        <!-- Warning label with an anchor id -->
                        <div class="option3-warning-label d-flex align-items-center mt-2">
                            <!-- Inline SVG for yellow caution icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="yellow" viewBox="0 0 24 24" class="me-2">
                                <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="yellow"></circle>
                                <text x="12" y="16" font-size="12" font-weight="bold" text-anchor="middle" fill="black">!</text>
                            </svg>
                            <span>A deepfake is a highly realistic but fake image, video, or audio of a person saying or doing something they never actually said or did. Some tips for recognizing an image that may have been generated with AI includeL looking for missing or extra fingers or hands that are deformed in some way; looking at the faces, small faces are often distorted; looking for misspelled text in the image; looking for inconsistent reflections.</span>
                        </div>
                    {{ endif }}


                    <div class="d-flex border-top-0 mt-3 ms-5">
                        <div class="reply-button col" data-bs-toggle="modal" data-bs-target="#replyModal_{{i.doc_id}}" id="reply_button_{{i.doc_id}}">
                            <span class="bi bi-chat text-secondary reply-icon" id="reply_icon_{{i.doc_id}}" style="cursor: pointer">️</span>
                            <span class="reply-count text-secondary" id="reply_count_{{i.doc_id}}">{{i.replies}}</span>
                        </div>
                        <div class="retweet-button col">
                            <span class="bi bi-arrow-repeat text-secondary retweet-icon" style="cursor: pointer">️</span>
                            <span class="retweet-count text-secondary">{{i.retweets}}</span>
                        </div>
                        <div class="like-button col" id="like_button_{{i.doc_id}}">
                            <span class="bi bi-heart text-secondary like-icon" style="cursor: pointer">️</span>
                            <span class="like-count text-secondary">{{i.likes}}</span>
                            {{ if i.sponsored }}
                                <input class="like-field" type="hidden" name="liked_item_{{i.doc_id}}" id="liked_item_{{i.doc_id}}">
                            {{ endif }}
                        </div>
                        <div class="share-button col">
                            <span class="bi bi-upload text-secondary share-icon" style="cursor: pointer">️</span>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>

{{else}}

<!-- ================================================ GENERAL POST ================================================ -->
    <tr id="{{i.doc_id}}"
    {% if i.sponsored %}
        style="background-color: #E5E4E2;"
    {% endif %}
    onmouseover="sequence('i' + {{i.doc_id}});" 
    ontouchstart="sequence('i' + {{i.doc_id}});">       
        <td>
            <div class="row justify-content-start">
                <div class="col-2">
                    {{ if i.profile_pic_available == True}}
                        <img src="{{i.user_image}}" class="card-img p1 ms-3 poster img-fit" alt="Profile picture of {{i.username}}."
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-html="true"
                            data-bs-custom-class="custom-tooltip"
                            title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                                    @{{i.handle}}<br><br>
                                    {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                    {{ else }}
                        <div class="poster p1 ms-3"
                            data-user-id="{{i.username}}"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-html="true"
                            data-bs-custom-class="custom-tooltip"
                            title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                                    @{{i.handle}}<br><br>
                                    {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                            <h4>{{i.icon}}</h4>
                        </div>
                    {{ endif }}
                </div>
                <div class="col-9 me-0">
                    <div class="card-body" id="tweet_{{i.doc_id}}">
                        <h5 class="card-title"></h5>
                        <h6 class="card-subtitle mb-2 mt-3">
                            <a style="cursor: pointer;"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-html="true"
                            data-bs-custom-class="custom-tooltip"
                            title="<div class='text-start text-secondary'><b class='text-dark'>{{i.username}}</b><br>
                            @{{i.handle}}<br><br>
                            {{i.user_description}} <br><br><b class='text-dark'>{{i.user_followers}}</b> Followers</div>">
                                {{i.handle}}
                            </a>
                            <small class="text-muted">
                                {{i.username}} &middot; 
                                {% if i.sponsored %}
                                    Sponsored
                                {% else %}
                                    {{i.date}}
                                {% endif %}
                            </small>
                        </h6>
                        {% if i.sponsored %}
                        <a href="{{ i.target }}" target="_blank" style="text-decoration: none; color: black;"
                        <p class="tweet-text" id="tweet_{{i.doc_id}}">{{i.tweet}}</p>
                        </a>
                        {% else %}
                        <p class="tweet-text" id="tweet_{{i.doc_id}}">{{i.tweet}}</p>
                        {% endif %}
                    </div>

                    {{ if i.pic_available == True}}
                            <a 
                            {% if i.sponsored %}
                                href="{{ i.target }}" target="_blank"
                            {% else %}
                                href="#" target="_self"
                            {% endif %}
                            style="text-decoration: none; cursor: pointer;">
                            <img src="{{i.media}}" class="card-img ps-0 mt-2 rounded-4 img-fluid img-tweet" alt="...">
                        </a>
                    {{ endif }}
                    <div class="d-flex border-top-0 mt-3 ms-5">
                        <div class="reply-button col" data-bs-toggle="modal" data-bs-target="#replyModal_{{i.doc_id}}" id="reply_button_{{i.doc_id}}">
                            <span class="bi bi-chat text-secondary reply-icon" id="reply_icon_{{i.doc_id}}" style="cursor: pointer">️</span>
                            <span class="reply-count text-secondary" id="reply_count_{{i.doc_id}}">{{i.replies}}</span>
                        </div>
                        <div class="retweet-button col">
                            <span class="bi bi-arrow-repeat text-secondary retweet-icon" style="cursor: pointer">️</span>
                            <span class="retweet-count text-secondary">{{i.retweets}}</span>
                        </div>
                        <div class="like-button col" id="like_button_{{i.doc_id}}">
                            <span class="bi bi-heart text-secondary like-icon" style="cursor: pointer">️</span>
                            <span class="like-count text-secondary">{{i.likes}}</span>
                            {{ if i.sponsored }}
                                <input class="like-field" type="hidden" name="liked_item_{{i.doc_id}}" id="liked_item_{{i.doc_id}}">
                            {{ endif }}
                        </div>
                        <div class="share-button col">
                            <span class="bi bi-upload text-secondary share-icon" style="cursor: pointer">️</span>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>

{{endif}}

<!-- Reply Modal -->
<div class="modal fade reply-modal" id="replyModal_{{i.doc_id}}" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="replying-tweet mb-5 ms-3 ps-3 border-start border-primary border-3 text-secondary"
                    id="replying_tweet_{{i.doc_id}}"></div>
                <div class="row text-secondary">
                    <div class="col-2">
                        <h1 class="text-end">
                            <i class="bi bi-person-circle sticky-bottom" data-bs-toggle="popover"
                            data-bs-content="You have been assigned the following ID: {{ participant.code }}. Please use it to identify yourself if you encounter any problems."></i>
                        </h1>
                    </div>
                    <div class="col">
                            <textarea class="form-control border-light reply-field"
                                    id="reply_to_item_{{i.doc_id}}" name="reply_to_item_{{i.doc_id}}"
                                    rows="4" placeholder="Tweet your reply"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-primary w-25 rounded-5 reply-modal-button" id="reply_modal_button_{{i.doc_id}}"
                        data-bs-dismiss="modal">Reply</button>
            </div>
        </div>
    </div>
</div>